/* Strzałka przed aktywnym linkiem */
a.active::before {
  content: '→'; /* Strzałka skierowana w prawo */
  font-weight: bold;
  margin-right: 10px;
  color: blue;
}

/* Strzałka w lewo dla linków w lewej części ekranu */
a.left-arrow::before {
  content: '→'; /* Strzałka skierowana w prawo */
  color: blue;
}

/* Strzałka w prawo dla linków w prawej części ekranu */
a.right-arrow::before {
  content: '←'; /* Strzałka skierowana w lewo */
  color: blue;
}

/* Nagłówki */
h1 {
  font-size: 2.5em; /* Większa czcionka */
  text-align: center;
  color: #333;
  text-transform: uppercase; /* Wielkie litery */
  margin-bottom: 20px;
  letter-spacing: 2px; /* Odstępy między literami */
}

/* Tabela */
table {
  width: 95%;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 10px; /* Zaokrąglone rogi */
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtelny cień */
  background-color: #fff; /* Białe tło tabeli */
}

/* Styl dla komórek tabeli */
td {
  padding: 10px;
  vertical-align: top;
}

/* Styl dla marquee */
marquee {
  font-weight: bold;
  font-size: 1.2em;
  padding: 5px;
  color: white;
  background-color: red; /* Kolor tła */
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Efekt uniesienia */
}

/* Linki */
a {
  color: #0073e6; /* Kolor linku */
  text-decoration: none; /* Bez podkreślenia */
  padding: 5px 10px; /* Wewnętrzne odstępy */
  display: inline-block;
  border-radius: 5px; /* Zaokrąglone rogi */
  transition: all 0.3s ease-in-out; /* Animacja hover */
}

/* Aktywny link */
a.active {
  background-color: #0073e6; /* Niebieskie tło */
  color: white; /* Biały tekst */
}

/* Efekty hover dla strzałek */
a:hover.left-arrow::before {
  content: '←'; /* Strzałka skierowana w lewo */
  color: blue;
}

a:hover.right-arrow::before {
  content: '→'; /* Strzałka skierowana w prawo */
  color: blue;
}
