/* Strzałka przed aktywnym linkiem */
a.active::before {
  font-weight: bold;
  margin-right: 10px;
  font-size: 1.2em; /* Większa czcionka */
}

a.left-arrow::before {
  content: '→'; /* Strzałka skierowana w prawo */
  color: blue;
  font-weight: bold;
  font-size: 1.2em;
  animation: bounce 0.5s infinite alternate; /* Animacja podskakiwania */
}

a.right-arrow::before {
  content: '←'; /* Strzałka skierowana w lewo */
  color: blue;
  font-weight: bold;
  font-size: 1.2em;
  animation: bounce 0.5s infinite alternate;
}

/* Nagłówki */
h1 {
  font-size: 2.5em;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 2px;
  animation: fadeIn 0.8s ease-in-out; /* Animacja pojawiania się nagłówka */
}

/* Efekty animacji */
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

/* Efekt fade-in dla tabel, linków i przycisków */
table, h1, a, button {
  animation: fadeIn 0.6s ease-out;
}

/* Styl tabel */
table {
  width: 95%;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease-in-out; /* Efekt skalowania */
}

table:hover {
  transform: scale(1.02); /* Subtelne powiększenie tabeli przy najechaniu */
}

/* Styl dla marquee */
marquee {
  font-weight: bold;
  font-size: 1.2em;
  padding: 5px;
  color: white;
  background-color: red;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  animation: marqueeGlow 1s infinite alternate; /* Pulsowanie */
}

@keyframes marqueeGlow {
  from {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  to {
    box-shadow: 0 4px 12px rgba(255, 0, 0, 0.6);
  }
}

/* Przyciski */
button {
  font-size: 1em;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #0073e6;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #005bb5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}
